<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332207072963-i9amp3e1fngpvvaiem62v6rn4qk0djlg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332207072963-i9amp3e1fngpvvaiem62v6rn4qk0djlg</string>
	<key>API_KEY</key>
	<string>AIzaSyCKGPutoP-0G7yQnfORc4nTHbvzfAyVwzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>332207072963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ashaProject</string>
	<key>PROJECT_ID</key>
	<string>asha-62937</string>
	<key>STORAGE_BUCKET</key>
	<string>asha-62937.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332207072963:ios:be479b6b071875cfc92476</string>
</dict>
</plist>